set timeout=5
set default=0

# Color scheme
set menu_color_normal=white/black
set menu_color_highlight=yellow/black

menuentry "DriveWipe Live" {
    linux /boot/vmlinuz-lts root=/dev/ram0 quiet drivewipe.live=1 \
        modules=loop,squashfs,sd-mod,usb-storage,uas,ahci,nvme,virtio_blk,virtio_scsi
    initrd /boot/initramfs-lts
}

menuentry "DriveWipe Live (Verbose Boot)" {
    linux /boot/vmlinuz-lts root=/dev/ram0 drivewipe.live=1 \
        modules=loop,squashfs,sd-mod,usb-storage,uas,ahci,nvme,virtio_blk,virtio_scsi \
        loglevel=7
    initrd /boot/initramfs-lts
}

menuentry "DriveWipe Live (Debug Shell)" {
    linux /boot/vmlinuz-lts root=/dev/ram0 drivewipe.live=1 drivewipe.debug=1 \
        modules=loop,squashfs,sd-mod,usb-storage,uas,ahci,nvme,virtio_blk,virtio_scsi \
        loglevel=7 init=/bin/sh
    initrd /boot/initramfs-lts
}
